@media (min-width:751px){
.vyjizdec {
  top: 20%;
  z-index: 99999 !important;
  position: fixed;
  visibility: visible;
  animation-name: vyjizdec-vstup;
  animation-duration: 2s;
  animation-fill-mode: both;
  transition: right .8s;
}
.vyjizdec p {
  max-width: 250px
}
.vyjizdec .vyjizdec-header {
  background-color: var(--secondary);
  color: var(--primary);
}
body {
  -ms-overflow-style: scrollbar;
}
.vyjizdec .vyjizdec-header {
  padding: 10px 5px 5px 10px;
  cursor: pointer;
}
.vyjizdec-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
.vyjizdec-content {
  width: 100%;
  max-width: 100%;
  min-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fefefe;
}
.vyjizdec-right .vyjizdec-header {
  width: 35px;
  margin-top: 5%;
  float: left;
  height: 160px;
  padding: 0px;
}
.vyjizdec-right .vyjizdec-title {
  white-space: nowrap;
  display: block;
  padding: 5px;
  transform: rotate(90deg) scale(-1);
  margin: 130px 10px 10px 10px;
}
.vyjizdec-right .vyjizdec-content {
  width: auto;
  padding: 20px;
  overflow: hidden;
}
@keyframes vyjizdec-vstup {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
}